{% extends "base.html" %}

{% block body %}
<link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="../static/styles/expenses.css">

{% if expenses %}
<br>
<br>
<div class="card">
    <div class="card-title">
        <p>Hello {{ name_user }}, these are your expenses:</p>
    </div>
    <div class="card-body">
        <table class="table table-striped" id="myTable">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Description of the expense</th>
                    <th>Date</th>
                    <th>Amount (S$)</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for expense in expenses %}
                <tr>
                    <td>{{ expense.type }}</td>
                    <td>{{ expense.description }}</td>
                    <td>{{ expense.date_purchase }}</td>
                    <td>{{ expense.amount }}</td>
                    <td>
                        <button>
                            <a href="/mod_expense/{{expense.expense_id}}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                </svg>
                            </a>
                        </button>
                    
                        <form onsubmit="return delExpense('{{expense.description}}')" method='POST' action='/del_expense'>
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            <input type="hidden" name="id" value="{{ expense.expense_id }}">
                            <button type="submit">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                              </svg>
                            </button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        <p>Total Expended Amount (S$): {{ total }}</p>
        <div class="d-flex">
            <button class="expense-btn m-1" onclick="window.location='/add_expense';"> Add expenses</button>
            <button class="expense-btn m-1" onclick="window.location='/logout';">Log Out</button>
        </div>
    </div>
</div>

{% else %}
<br>
<br>
<span class = "line2">Hello {{ name_user }}, would you like to start adding expenses?</span>
<br>
<br>
<a href="/add_expense"> Add expenses</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/logout">Log Out</a>

{% endif %}
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" type="text/javascript"></script>
<script>
    function delExpense(desc) {
        if (!window.confirm("Are you sure you want to delete Expense that has a description of:\n"+desc)) {
            return false
        }
    }
    window.addEventListener('DOMContentLoaded', event => {

        const Table = document.getElementById('myTable');
        if (Table) {
            new simpleDatatables.DataTable(Table);
        }

    });
</script>
{% endblock body %}
