{% extends "base.html" %}
{% block body %}
<link rel="stylesheet" href="..\static\styles\form.css">

<div class="signin-wrapper">
    <div class="sign-panels">
        <div class="signup">
            <div class="signin-title">
                <span>Sign Up</span>
                <p>Create a new account.</p>
            </div>

            <form method='POST' action=''>
                {{ form.csrf_token }}
                <div class="form-floating">
                    <label style="padding-left:30px;" for="floatingUsername">Username</label>
                    {{ form.name }}
                </div>

                {% if form.name.errors %}
                    {% for error in form.name.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                {% endif %}

                <div class="form-floating mb-3">
                    <label style="padding-left:30px;" for="floatingEmail">Email</label>
                    {{ form.email }}
                </div>

                {% if form.email.errors %}
                    {% for error in form.email.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                {% endif %}
    
                <div class="form-floating">
                    <label style="padding-left:30px;" for="floatingPassword">Password</label>
                    {{ form.password }}
                </div>

                {% if form.password.errors %}
                    {% for error in form.password.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                {% endif %}

                <div class="form-floating">
                    <label style="padding-left:30px;" for="floatingRPassword">Repeat Password</label>
                    {{ form.confirm_password }}
                </div>

                {% if form.confirm_password.errors %}
                    {% for error in form.confirm_password.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                {% endif %}

                <input type="checkbox" id="signin-checkbox">
                <button type="submit" href="#" class="btn-signin">Sign Up</button>
                <a href="/login" class="btn-login btn-fade">Already have an account, Sign In
                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                </a>
            </form>
        </div>
    </div>
</div>

{% endblock body %}